*.DS_Store
proj/proj.ios/datastructureapi-core-lib/*.xcodeproj/*
!proj/proj.ios/datastructureapi-core-lib/*.xcodeproj/project.pbxproj
!proj/proj.ios/datastructureapi-core-lib/*.xcworkspace/contents.xcworkspacedata

